body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

 #sectionInput {
     padding-left: 60px;
} 

@media (min-width: 768px) and (max-width: 991px) {
    #sectionInput {
        padding-left: 250px;
    }
    #listaItems{
margin-right: 130px;
    }
}

@media (min-width: 992px){
    #sectionInput{
        padding-left: 450px;
    }
    #listaItems{
margin-right: 350px;
    }
}